body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fffaf9;
  color: #333;
  transition: background-color 0.4s, color 0.4s;
}

button {
  transition: all 0.3s ease;
}

.MuiButton-root:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.active-link {
  font-weight: bold;
  color: #ff5252 !important;
}

.MuiCard-root {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.MuiCard-root:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}
